.country {
    height: 100vh
}

.country .wrapper {
    margin-top: 50px;
}

.country .wrapper .info {
    display: grid;
    grid-template-columns: .7fr 1fr;
}

.country .wrapper .info .description {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.country .wrapper .info .description .title {
    margin-bottom: 25px;
}

.country .wrapper .info .description .subtitle_one h6 {
    margin-bottom: 6px;
}

.country .wrapper .flag {
    width: 500px;
}

.country .wrapper img {
    width: 100%;
    border-radius: 10px;
    height: 300px;
}