.header {
    width: 100%;
    height: 80px;
    transition: .3s ease-in-out;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header .container .title .header_title {
    font-weight: bold;
}

.header .container .theme_btn {
    cursor: pointer;
}